<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<script src="https://unpkg.com/htmx.org@2.0"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css" />
	<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"></script>

	<script src="htmx.ext.shoelace.js"></script>

	<style>
		form, .form-like-section {
			width: 500px;
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		fieldset > * {
			display: block;
		}
		#result {
			position: fixed;
  			left: 600px;
			background-color: beige;
			padding: 20px;
			border-radius: 10px;
		}
	</style>

	<script>
		addEventListener("formdata", (event) => {
			// alert('formdata event fired')
			console.log(event.formData)
		})
	</script>
</head>
<body hx-ext="shoelace">

	<div id="form-and-result">
		<pre id="result"></pre>
		<form hx-post="/submit" hx-params="not excluded-param" hx-target="#result">

			<sl-button name="mybutton-novalue">mybutton-novalue</sl-button>
			<sl-button value="mybutton-noname">Noname button. value is 'mybutton-noname'</sl-button>
			<sl-button name="mybutton" value="b">mybutton with value 'b'</sl-button>
			
			<sl-checkbox name="mycheckbox">mycheckbox</sl-checkbox>
			<sl-checkbox name="mycheckbox-with-value" value="Shoelace rocks!">mycheckbox with value</sl-checkbox>

			<sl-color-picker name="mycolorpicker" label="mycolorpicker"></sl-color-picker>
			<sl-input name="myinput" label="myinput"></sl-input>
			<sl-input required="true" name="required-input" label="Required input"></sl-input>
			<sl-input required="true" name="required-input2" label="Required input 2"></sl-input>
			<sl-input name="excluded-param" label="Excluded field (using hx-params)"></sl-input>

			<sl-radio-group label="Radio group with preselected option" name="myradiogroup-preselect" value="1">
				<sl-radio value="1">Option 1</sl-radio>
				<sl-radio value="2">Option 2</sl-radio>
				<sl-radio value="3">Option 3</sl-radio>
			</sl-radio-group>

			<sl-radio-group label="No preselect" name="myradiogroup">
				<sl-radio value="1">Option 1</sl-radio>
				<sl-radio value="2">Option 2</sl-radio>
				<sl-radio value="3">Option 3</sl-radio>
			</sl-radio-group>
			<sl-range name="myrange"></sl-range>
			
			with name <sl-rating name="myrating" label="myrating"></sl-rating>
			without name <sl-rating label="myrating-without-name"></sl-rating>

			<sl-select name="shoelace-select" label="shoelace-select">
				<sl-option value="option-1">Option 1</sl-option>
				<sl-option value="option-2">Option 2</sl-option>
				<sl-option value="option-3">Option 3</sl-option>
				<sl-divider></sl-divider>
				<sl-option value="option-4">Option 4</sl-option>
				<sl-option value="option-5">Option 5</sl-option>
				<sl-option value="option-6">Option 6</sl-option>
			</sl-select>

			<sl-switch name="myswitch">myswitch (no value)</sl-switch>
			<sl-switch name="myswitch-with-value" value="Confirmed! Shoelace rocks">myswitch-with-value</sl-switch>
			<sl-textarea name="mytextarea" label="mytextarea"></sl-textarea>

			<hr>
			<fieldset>
				<legend>Fieldset A: a non-disabled fieldset</legend>
				<sl-input name="field-in-fieldset-a" label="field-in-fieldset-a"></sl-input>
			</fieldset>
			<fieldset disabled>
				<legend>Fieldset B: Disabled fieldset</legend>
				<sl-input name="field-in-fieldset-b" label="field-in-fieldset-b"></sl-input>
			</fieldset>
			<sl-input name="disabed-input" label="disabed-input" disabled></sl-input>
			<hr>

			<sl-button type="submit">Submit</sl-button>
			<sl-button name="submit-button" type="submit" value="I have value">Submit with value</sl-button>
			<button type="submit">Native submit button</button>
		</form>

		<hr>
		<div class="form-like-section">
			<h2>hx-include test #1</h2>
			<div id="hx-include-wrapper-div"><sl-input label="Nested include from parent's ID" name="foo" type="text"></sl-input></div>
			<sl-input id="include-me" label="Direct include by ID" name="bar" type="text"></sl-input>
			<button 
				type="button"
				class="btn btn-primary"
				hx-post="/submit" hx-target="#result"
				hx-include="#hx-include-wrapper-div sl-input, #include-me">Include!</button>
		</div>

		<div class="form-like-section">
			<h2>hx-include test #2</h2>
			<p>This one is testing next</p>
			<button 
				type="button"
				class="btn btn-primary"
				hx-post="/submit" hx-target="#result"
				hx-include="next sl-input">Include!</button>
			<sl-input label="Closest input to button above" name="test2-bar" type="text"></sl-input>
		</div>

		<hr>
		<h2>sl-buttons with name+value should submit forms</h2>
		<form hx-post="/submit" hx-target="#result" style="border: 1px dashed red; padding: 20px;">
			<sl-button name="submitty-button" value="special value button submit">Submit this mini form</sl-button>
		</form>
	</div>
</body>
</html>